<div>
    <h1>WELCOME TO KBL</h1>
<p><i><b>Our Upcoming facilities</b></i></p>
</div>
<ul>
    <li>
        <!-- <h4 type="button"> cRedit on UPI </h4> -->
        <!-- <button>cRedit on UPI</button> -->
        <button routerLink="/PMsDetails" (click)="pmsdetails()" style="color:green;"><b>PMsVanidhi</b></button>
    </li>
    <br>
    <li >
        <!-- <h4 type="button">DoorStep Gold Loan</h4> -->
        <!-- <button>DoorStep Gold Loan</button> -->
        <button routerLink="/ELDetails" (click)="eldetails()" style="color: goldenrod;"><b>Equipment Loan</b></button>
    </li>
</ul>
